:root {
    --color-primary: #2B2D49;
    --color-secondary: #D9436D;
    --color-additional: #F2F2F2;
    // --color-primary-opacity: rgba(43, 45, 73, 1);
    // --color-secondary:rgba(217, 67, 109, 1);
    // --color-additional-opacity: rgba(242, 242, 242, 1);
}