@import "./design-tokens/css-variables.scss";

.landing {   
    color: var(--color-additional);    
    width: 100%;    
    text-align: center;

//     .landing-left {
//         background-color: var(--color-primary);
//         opacity: 85%;
//         width: 100%;

//         .landing-title {
//             font-size: 3rem;
//             font-weight: bold;            
//             padding-top: 0.5em;
//             margin: 0;
//         }

//         .landing-title1 {
//             color: var(--color-secondary);            
//         }

//         .landing-title2 {
//             padding-top: 0;
//         }

//         .landing-subtitle {
//             margin: 0;
//         }

//         button {
//             color: var(--color-secondary);
//             font-weight: bold;
//             margin-top: 1em;
//             margin-bottom: 1em;
//             //margin-left: 1.5em;
//             font-size: 1.5rem;
//             padding: 0.25em ;
//             border-radius: 0.2em;
//         }
//     }

//     .landing-right {
//         background-color: var(--color-primary);
//         opacity: 85%;
//         .landing-video {
//             width: 90%;
//             height: calc(90vw / 560 *315); 
//             opacity: 100%;
//             z-index:2;
//             margin-top: 2em;     
//             margin-bottom: 2em;
//         }
//     }
// }

// @media screen and (min-width: 800px) {
//     .landing {
//         width: 100%;
//         height: 70vh;
//         display:flex;        

//         .landing-left {
//             width: 30%;
//             height: 100%;
//             opacity:100%;
//             display: flex;
//             flex-direction: column;
//             text-align: left;
//             justify-content: flex-end;
            
//             .landing-title {
//                 font-size: 4rem;
//                 z-index:2;
//             }

//             .landing-title2 {
//                 width: 180%;
//             }

//             .landing-subtitle {
//                 padding-left: 2rem;
//             }

//             .landing-btn {     
//                 width: 12rem;           
//                 margin-left: 2rem;
//                 margin-bottom: 2em;
//             }
//         }

//         .landing-right {
//             width: 70%;
//             display: flex;
//             align-items: center;
//             justify-content: flex-end;
//             height: 100%;            
//             opacity: 85%;

//             .landing-video {
//                 //background: black;
//                 width: 80%;
//                 height: calc(80vw * 0.7 / 560 *315); 
//                 opacity: 100%;
//                 z-index:999;
//                 margin-top: 2em;     
//                 margin-bottom: 2em;
//                  margin-right: 2em;
//             }            
//         }
//     }
}